<h2 [style]="{textAlign: 'center'}">Angular TensorFlowJS Demo</h2>

<div class="video-container">
  <video
    class="video-area"
    (canplay)="onVideoCanPlay()"
    loop
    crossorigin="anonymous"
    #videoRef
    src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerFun.mp4">
  </video>

</div>

<svg
  [ngStyle]="{ top: videoBoundingRect.top+'px', left: videoBoundingRect.left+'px'}"
  [attr.width]="(videoBoundingRect.width-1)+'px'"
  [attr.height]="(videoBoundingRect.height-1)+'px'"
  [attr.viewBox]=" '0 0 '+videoBoundingRect.width+' '+ videoBoundingRect.height "
  *ngIf="videoBoundingRect && svgEnabled"
  class="svg-area"
  #svgRef
>
  <defs>
    <filter x="0" y="0" width="1" height="1" id="solid">
      <feFlood flood-color="black"/>
      <feComposite in="SourceGraphic" in2="BackgroundImage" operator="atop" result="comp"/>
    </filter>
  </defs>

  <g *ngFor="let detection of currentDetections">
    <rect
          [attr.x]="detection.bbox[0]+'px'"
          [attr.y]="detection.bbox[1]+'px'"
          [attr.width]="detection.bbox[2]+'px'"
          [attr.height]="detection.bbox[3]+'px'"
          style="fill: transparent;stroke-width:2;stroke:rgb(255,0,0)"
    />
    <text filter="url(#solid)" [attr.x]="detection.bbox[0]+'px'" [attr.y]="detection.bbox[1]+17+'px'" font-family="sans" font-size="18"  fill="white">{{detection.class}}</text>
  </g>

</svg>

<br>
<button (click)="videoRef.play()" >PLAY</button>
<button (click)="videoRef.pause()" >PAUSE</button>
<button (click)="toggleSvgOverlay()" >TOGGLE OVERLAY</button>
